<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="utils.css" /> 
  <script src="utils.js"></script>
  <style>
    .custom-container {
      width: 50%;
      min-width: 600px;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="custom-container">
    <h2 class="content-centered">Menú</h2>
    <p><strong>Instrucciones:</strong></p>
    <p>Ingresa a la Configuración y registra el service worker. Luego suscribete al servicio de notificaciones.</p>
    <div class="content-centered">
      <button onclick="goToPath('/settings')">Configuración</button>
      <button onclick="goToPath('/face-recognition')">Reconocimiento facial</button>
    </div>
  </div>
</body>
</html>